:root {
    /*font-size: 40px;*/
    text-color: #555;
    text-align: center;
    /*--button-scale: 1.09;*/
}

main {
    margin: 0 auto;
    width: 700px;
    /*height: 400px;*/
    border: 1.5px solid #777;
    background: #DDD;
    font-family: sans-serif;
}

footer {
    font-family: cursive;
}

.steps {
    /*display: flex;*/
    /*overflow-x: auto;*/
    /*margin-top: 20px;*/
    width: 600px;
    height: 300px;
    margin: 20px auto 0 auto;

    border: 10px solid #9FF;/*rgba(0,0,255,0.3);*/


    /*height: 400px;*/
}




.step {
    border: 10px solid rgba(0,255,0,0.3);
    height: 150px;
    margin-top: 50;
    /*vertical-align: middle;*/
}

/*отображаемый report*/
.report {
    border: 10px solid rgba(0,255,0,0.3);
    height: 150px;
    margin-top: 50;
}


.step textarea, .report textarea {
    height: 80px;
    width: 300px;
    background: #FF9;
}

.report textarea {
    font-family: monospace;
    font-size: 13px;
}

.step p, .report p {
    font-size: 15px;
    /*font-color: yellow;*/
}

.step-hidden, .report-hidden, .static-hidden, .hidden {
    display: none;
}

.navigation-buttons-block {
    margin-bottom: 20px;
}


button {
    background-color: #CCC;
}

/*button:hover {
    transform: scale(var(button-scale));
}*/

.navigation-button {
    font-size: 20px;
}

#button-next {
    transform: rotate(12deg);
    background-color: #BABACC;
}

#button-pred {
    transform: rotate(-8deg);
    background-color: #BACCBA;
}

#button-help {
    border-radius: 50%;
    background-color: #B0CCCC;
    font-size: 13px;
    padding: 3px 5px;
}
